body{
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family:"Roboto",sans-serif
}
main{
  display:flex;
  column-gap:2rem
}

/* .header_horizontal{
  background-color: black;
}

.header_list_name{
  color: white;
} */


.header{
  height: 4.5rem;
  background-color:#020203;
  box-shadow:0px 4px 4px rgba(0,0,0,.25);
  display: flex;
}

.header_logo{
  width:150px;
  height:auto;
  cursor:pointer;
  margin-left: 2rem;
}

.header_horizontal{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  padding:1rem;
}

.header_list{
  display:flex;
  flex-direction:row;
  align-items: center;
  width:100%;
  justify-content:space-around;
}

.header_list_name{
  color:#fff;
  list-style-type:none;
  cursor:pointer;
  font-size:22px;
  transition: 0.3;
}
.header_list_name:hover{
  transition: 0.3;
  color: red;
}
.header{
  background-color:#020203
}

.header_icons{
  display:flex;
  flex-direction:column;
  row-gap:2rem;
  margin:0;
  padding:0;
  margin-top: 2rem;
}

.lateral_icon{
  cursor:pointer;
  align-self:center;
  background-color: #ffffff;
  border-radius: 5px;
  height: 64px;
  width: 64px;
  transition: 0.4s;
}
.lateral_icon:hover{
  background-color: red;
  transition: 0.4s;
}

.lateral_img{
  display: block;
  height: 64px;
  object-fit: scale-down;
  padding: 0 5px;
  width: calc(100% - 10px);
  transition: 0.4s;
}
.lateral_img:hover{
  filter: brightness(0.5) saturate(0);
  transform: scale(1.15);
  transition: 0.4s;
}
.swim{
  padding: 0 3px;
  width: calc(100% - 3px);
}

.lateral_copyrights{
  color:#fff;
  transform:rotate(-90deg);
  width:191px;
  place-self:center;
}

.header_vertical{
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:space-evenly;
  width:117px;
}

.lateral{
  width:117px;
  height:876px;
}



.aze{
  display: flex;
  margin: 9rem;
  padding: 0;
  position: absolute;
}

.btn {  
  padding: 1.5rem;
  font-size: 3rem;
  color: black; 
  background-color: white;
  cursor: pointer;
  border-radius: 3.5rem;
  border: solid 2px black;
  transition: 0.6s;
}
.btn:hover{
 background: #000;
 color: red;
 border-radius: 2.3rem;
 transition: 0.6s;
 animation: jiggle 0.25s infinite;
 /* animation: shake 0.90s cubic-bezier(.36,.07,.19,.97) infinite; */
 animation-delay: 2.5s;
}

.link{
  margin-left: 13rem;
  border-radius: 20rem;
}

@keyframes jiggle {
  0% { 
      transform: rotate(-4deg);
      animation-timing-function: ease-in;
}
  50% {
      transform: rotate(4.5deg);
      animation-timing-function: ease-out;
}
}
.name-kc{
  position: relative;
  font-size: 1px;
  bottom:3rem;
  z-index: -2;
  font-weight: 600;
  color: white;
  text-align: center;
  transition: 0.6s;
}
.link:hover .name-kc{
  font-size: larger;
  z-index:-2;
  color: black;
  transform: translateY(33px);
  transition: 0.6s;
}






.hello{
  font-size: 42px;
}
.user_name{
  color: #ff0000;
}
.congratulation{
  font-size: 20px;
}


.main{
  display: flex;
}
.small_graphics{
  display: flex;
}


.aside{
  margin-top: 11.2rem;
  margin-left: 1.5rem;
}
.info_list{
  display:flex;
  padding: 32px 20px 31px 30px;
  background-color: #fbfbfb;
  margin-bottom: 3.15rem;
  border-radius: 5px;

  position: relative;
  overflow: hidden;
  z-index: 1;
}
.info_list::before {
  content: '';
  position: absolute;
  top: 42px;
  left: 39px;
  width: 20%;
  height: 35%;
  background: #282D30;
  border-radius: 25%;
  z-index: -1;
  transition: .8s;
}
  
.info_list:hover::before {
  transform: scale(8.5);
}

.info_list .iconList{
  transition: .7s;
 }
.info_list:hover .iconList{
 transform: scale(1.2);
 transition: .7s;
}

.info_list:hover .iconList{
  filter: brightness(1.1) saturate(1);
}



.info_list_desc{
  display:flex;
  flex-direction:column;
  margin-left:25px;
  transition: .7s;
}
/* .info_list:hover .info_list_desc{
  left:1rem;
  transform:scale(1.05);
  transition: .7s;
} */
.info_list_value{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #282D30;
  margin-bottom:2px;
  transition: .7s;
}
.info_list:hover .info_list_value{
  color: white;
  transition: .7s;
  margin-left: -5px;
 }

.info_list_title{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #74798C;
  transition: .7s;
}
.info_list:hover .info_list_title{
  color: white;
  transition: .7s;
  margin-left: 15px;
 }






.score{
  position: relative;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  width: 258px;
  height: 263px;
  margin-top: 2rem;
  margin-left: 3rem;
}
.score_title{
  position:absolute;
  left: 20%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.recharts-wrapper{
  margin-top: -3rem;
}

.score_circle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
}


.score_infos{
  position: absolute;
  width: 25%;
  top:20px;
  text-align: center;
}
.score_pourcentage{
  font-size:26px;
  height: 1rem;
  font-weight:bold; 
}
.score_text{
  font-size:16px;
  font-weight:600;
  color: #6e6e6e;
}





.activity{
  margin-top: 3rem;
  background-color: #fbfbfb;
  padding: 2rem;
  border-radius: 5px;
}
.activity_title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.activity_legend{
  display: flex;
  justify-content: space-around;
}
.activity_legend_info{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.activity_legend_kg_circle{
  height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #282D30;
	align-self: center;
	margin-left: 30px;
}
.activity_legend_kcal_circle{
  height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #E60000;
	align-self: center;
	margin-left: 30px;
}
.activity_legend_text{
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
	color: #74798c;
}






.tool_tip{
  background-color: red;
  color: white;
  height: 4rem;
  width: 3rem;
  margin-left: 1rem;
  font-weight: 600;
}

.tool_tip_kg{
  padding-top: 0.7rem;
  font-size: 10px;
  text-align: center;
}

.tool_tip_kcal{
  margin-top: 1.2rem;
  font-size: 10px;
  text-align: center;
}




.average{
  position: relative;
	background: #ff0000;
	border-radius: 5px;
  margin-top: 2rem;
  height: 17rem;
}
.average_title{
  color: #f9b7b7;
  position: absolute;
  font-weight: 600;
	font-size: 15px;
	padding: 15px 35px 0 25px;
}

.tool_tip_average{
  padding: 1px 10px;
  background: white;
  margin: auto;
}
.tool_tip_average_min{
  font-size: 10px;
}



/* .performance{

	background: #282D30;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
	border-radius: 5px;
    margin-top: 7rem;
} */

.performance{
  background-color:#282D30;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  font-weight: 500;
  font-size: 12px;
  margin-top: 2rem;
  margin-left: 3rem;
}

















.content{
  margin: 0 auto;
  width: 100%;
}
.linear-wipe {
  text-align: center;
  font-size: 130px;

  background: -webkit-repeating-linear-gradient(-45deg, black 20%, red 40%, black 60%, black 80%);
  background-size: 400% auto;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.25);
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 10s linear infinite;
}
@keyframes shine {
  0%{
    background-position: 0 0;
  }
  25%{
    background-position: 100% 0;
  }
  50%{
    background-position: 100% 100%;
  }
  75%{
    background-position: 0% 100%;
  }
  100%{
    background-position: 0% 0%;
  }
}
.oups{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;
  font-size: 2em;
  max-width: 700px;
  position: relative;
  background: -webkit-repeating-linear-gradient(-45deg, black 20%, red 40%, black 60%, black 80%);
  background-size: 400% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s linear infinite;
}
.content h4:after{
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-btns{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.btns{
  display: inline-flex;
  margin: 60px 0;
  position: relative;
  margin-left: 3rem;
  overflow: hidden;
  z-index: 1;
  border: 2px solid black;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all 0.8s ease;
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}
.btns:hover{
  color: #FF0002;
  transition: .8s;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 1px, rgba(0, 0, 0, 0.17) 0px 4px 2px, rgba(0, 0, 0, 0.16) 0px 8px 4px, rgba(0, 0, 0, 0.15) 0px 16px 8px, rgba(0, 0, 0, 0.14) 0px 32px 16px;
}

.btns::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 95px;
  width: 1px;
  height: 1px;
  background: white;
  border-radius: 50%;
  z-index: -1;
  transition: .8s;
}
  
.btns:hover::before {
  transform: scale(208);
  color: black;
  background: black;
  transition: .8s;
}

.btns:active{
  box-shadow: rgba(255, 0, 0, 0.4) 0px 5px, rgba(255, 0, 0, 0.3) 0px 10px, rgba(238, 17, 98, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}









.button-switch {
  display: inline-block;
  cursor: pointer;
  margin-left: -2rem;
  margin-top: 1.5rem;
  /* -webkit-tap-highlight-color: transparent; */
}
.button-switch i {
  position: relative;
  display: inline-block;
  margin-right: .4rem;
  width: 48px;
  height: 26px;
  background-color: #b7b7b7;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
.button-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 44px;
  height: 22px;
  background-color: rgb(231, 229, 229);
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
.button-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
  z-index: 2;
}
.button-switch i:hover::after {
  left:1.5px;
}
.button-switch input:checked + i:hover::after {
  left:-1.5px;
  }
.button-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
.button-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
.button-switch input { display: none; }
.button-switch input:checked + i { background-color: #FF0002; }
.button-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
.button-switch input:checked + i::after { transform: translate3d(24px, 2px, 0);}


.json{
  position: absolute;
  left:76.9rem;
  margin-top: 9px;
  z-index: 1;
  font-size: 6px;
  font-weight: 600;
  color: white;
}
.api{
  position: absolute;
  left:78.3rem;
  margin-top: 9px;
  z-index: 1;
  font-size: 7px;
  font-weight: 600;
}












