body{
  margin:auto;
  font-family:"Roboto",sans-serif
}
main{
  display:flex;
  column-gap:2rem
}

/* .header_horizontal{
  background-color: black;
}

.header_list_name{
  color: white;
} */

.user_name{
  color: #ff0000;
}


.header{
  background-color:#020203;
  box-shadow:0px 4px 4px rgba(0,0,0,.25);
  display: flex;
}

.header_logo{
  width:178px;
  height:auto;
  cursor:pointer
}

.header_horizontal{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  padding:1rem;
}

.header_list{
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content:space-around;
}

.header_list_name{
  color:#fff;
  list-style-type:none;
  cursor:pointer;
  font-size:24px;
  transition: 0.3;
}
.header_list_name:hover{
  transition: 0.3;
  color: red;
}
.header{
  background-color:#020203
}

.header_icons{
  display:flex;
  flex-direction:column;
  row-gap:2rem;
  margin:0;
  padding:0;
}

.lateral_icon{
  cursor:pointer;
  align-self:center;
  background-color: #ffffff;
  border-radius: 5px;
  height: 64px;
  width: 64px;
}

.lateral_img{
  display: block;
  height: 64px;
  object-fit: scale-down;
  padding: 0 5px;
  width: calc(100% - 10px);
}

.lateral_copyrights{
  color:#fff;
  transform:rotate(-90deg);
  width:191px;
  place-self:center;
}

.header_vertical{
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:space-evenly;
  width:117px;
}

.lateral{
  width:117px;
  height:876px;
}



.aze{
  display: flex;
  margin: 9rem;
  padding: 0;
}

.btn {  
  padding: 1.5rem;
  font-size: 3rem;
  color: red; 
  cursor: pointer;
  border-radius: 20rem;
  border:  solid 3px black;
  transition: 0.5s;
}
.btn:hover{
 background: #000;
 transition: 0.3s;
}
.link{
  margin-left: 13rem;
  border-radius: 20rem;
}


.main{
  display: flex;
}
.small_graphics{
  display: flex;
}


.aside{
  margin-top: 9.3rem;
  margin-left: 2rem;
}
.info_list{
  display:flex;
  padding:2em;
  background-color: #fbfbfb;
  margin-bottom: 3.15rem;
}

.info_list_desc{
  display:flex;
  flex-direction:column;
  margin-left:25px;
}
.info_list_value{
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #282D30;
  margin-bottom:2px;
}
.info_list_title{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #74798C;
}






.score{
  position: relative;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  width: 258px;
  height: 263px;
  margin-top: 2rem;
}
.score_title{
  position:absolute;
  left: 20%;
  top: 13%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.recharts-wrapper{
  margin-top: -3rem;
}

.score_circle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
}


.score_infos{
  position: absolute;
  width: 25%;
  top:30px;
  text-align: center;
}
.score_pourcentage{
  font-size:26px;
  height: 1rem;
  font-weight:bold; 
}
.score_text{
  font-size:16px;
  font-weight:600;
  color: #6e6e6e;
}





.activity{
  margin-top: 3rem;
  background-color: #fbfbfb;
  padding: 2rem;
}
.activity_title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.activity_legend{
  display: flex;
  justify-content: space-around;
}
.activity_legend_info{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.activity_legend_kg_circle{
  height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #282D30;
	align-self: center;
	margin-left: 30px;
}
.activity_legend_kcal_circle{
  height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #E60000;
	align-self: center;
	margin-left: 30px;
}
.activity_legend_text{
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
	color: #74798c;
}






.tool_tip{
  background-color: red;
  color: white;
  height: 4rem;
  width: 3rem;
  margin-left: 1rem;
  font-weight: 600;
}

.tool_tip_kg{
  padding-top: 0.7rem;
  font-size: 10px;
  text-align: center;
}

.tool_tip_kcal{
  margin-top: 1.2rem;
  font-size: 10px;
  text-align: center;
}




.average{
  position: relative;
	background: #ff0000;
	border-radius: 5px;
  margin-top: 2rem;
  height: 17rem;
}
.average_title{
  color: #f9b7b7;
  position: absolute;
  font-weight: 600;
	font-size: 15px;
	padding: 15px 35px 0 25px;
}

.tool_tip_average{
  padding: 1px 10px;
  background: white;
  margin: auto;
}
.tool_tip_average_min{
  font-size: 10px;
}



/* .performance{

	background: #282D30;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
	border-radius: 5px;
    margin-top: 7rem;
} */

.performance{
  background-color:#282D30;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  font-weight: 500;
  font-size: 12px;
  margin-top: 2rem;
}


